@media (max-width: 480px) {
    h2 {
        font-size: 1.5em;
        padding: 0;
        margin: 0;
    }

    h3 {
        font-size: 1em;
        padding: 3px 0 0;
        margin: 0;
    }

    .nav-tabs > li {
        float:none;
    }

    .nav-tabs li.active a,
    .nav-tabs li.active a:hover,
    .nav-tabs li.active a:focus {
        border-style: none;
    }

    .itunes-feed {
        padding: 0;
    }
}

@media (max-width: 392px) {
    h2{
        font-size: 1em;
        padding-left: 0;
        margin-left: 0;
    }

    .name, .price {
        padding-left: 0;
    }
}

.nav-tabs {
    border-bottom: none;
}

.itunes-feed {
    padding: 15px 0;
}

.titles {
    padding: 0;
    margin-top: 1px;
    box-shadow: 0 0 15px #ccc;
}

.title {
    display: block;
    margin: 0;
    border-bottom: 1px solid #ddd;
    padding: 15px 15px 10px 5px;
}

.title h2 {
    margin-top: 10px;
    padding: 0;
}

.title img {
    height: 60px;
}

ul.nav-tabs li a {
    cursor:pointer;
}